@charset "UTF-8";

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: 'Oxygen', "Mplus 1p", sans-serif;
  font-feature-settings: "palt" 1;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.8rem;
  letter-spacing: .1em;
  text-align: justify;
}

a {
  color: #575757;
  font-size: 1.8rem;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.wrapper {
  margin: 0 auto;
  max-width: 980px;
}

.header > {
  .hero {
    letter-spacing: .12em;
  }
  p {
    text-align: center;
  }
}

.nav {
  padding: 50px 0 40px;
}

.menu {
  > li {
    margin: 0;
    padding: 0;
    > a {
      display: block;
      text-align: center;
    }
  }
  &:hover li a:not(:hover) {
    opacity: .3;
  }
}

.main .title {
  letter-spacing: .1em;
  &::after {
    content: " ";
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    display: block;
    height: 1px;
    width: 100%;
  }
}

.subsection {
  margin: 0 0 30px;
}

.skill {
  > li {
    color: #01acba;
    display: inline-block;
    margin-right: 5px;
  }
  .lv4 {
    font-size: 220%;
    font-weight: bold;
  }
  .lv3 {
    font-size: 180%;
    font-weight: bold;
  }
  .lv2 {
    font-size: 140%;
    font-weight: bold;
  }
  .lv1 {
    font-size: 110%;
    font-weight: bold;
  }
}

.products > li {
  padding: 10px;
}

.herazao {
  background: url("../img/img_products_01.png") no-repeat center center;
}

.nchoku {
  background: url("../img/img_products_02.png") no-repeat center center;
}

.packing {
  background: url("../img/img_products_03.png") no-repeat center center;
}

.library {
  background: url("../img/img_products_04.png") no-repeat center center;
}

.developer {
  background: url("../img/img_products_05.png") no-repeat center center;
}

.secret {
  background: url("../img/img_products_06.png") no-repeat center center;
}

.products > li > label {
  background-size: cover;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  display: inline-block;
  width: 100%;
  height: 188px;
  transition: all 0.1s linear;
  &:hover {
    opacity: .8;
  }
}

.text-mail {
  margin: 30px 0;
  text-align: center;
}

.social {
  margin: 0 auto;
  max-width: 30%;
  > li {
    text-align: center;
    > a {
      font-size: 3.6rem;
      transition: color 0.1s linear;
      &:hover {
        color: #2f8efd;
      }
    }
  }
}

/*グローバルナビ*/

.is-fixed {
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 25px 0 20px;
  z-index: 2;
  width: 980px;
}

@media (max-width: 640px) {
  .wrapper {
    margin: 0 auto;
    width: 93%;
  }
  .nav {
    width: 100%;
  }
  .menu {
    flex-direction: column;
    margin: 0;
    width: 100%;
    li {
      margin: 0;
    }
    > li > a {
      text-align: left;
    }
  }
  .section-content {
    flex: none;
  }
  .profile-icon, .profile-content {
    width: 100%;
  }
  .products {
    flex-direction: column;
    li {
      margin: 0 auto;
      width: 80%;
    }
  }
  .is-fixed {
    width: 93%;
  }
}