@charset "UTF-8";

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: 'Oxygen', "Mplus 1p", sans-serif;
  font-feature-settings: "palt" 1;
  height: initial;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.8rem;
  letter-spacing: .1em;
  margin-bottom: 1em;
  text-align: justify;
}

*::selection {
  background: #333;
  color: #fff;
}

a {
  color: #575757;
  font-size: 1.8rem;
  word-break: break-all;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.pc-only {
  display: none;
}

.sp-only {
  display: none;
}

.wrapper {
  margin: 0 auto;
  max-width: 980px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hero {
  font-family: 'Pridi', serif;
  font-size: 4.5rem;
  letter-spacing: .12em;
  text-align: center;
}
.lead {
  letter-spacing: .12em;
  text-align: center;
}
.is-scroll {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity transform .5s linear;
  width: 30px;
}

.is-active.is-scroll {
  opacity: 1;
  transform: none;
}

.nav {
  padding: 50px 0 40px;
  #nav-toggle {
    display: none;
  }
}

.menu {
  justify-content: space-between;
  > li {
    margin: 0;
    padding: 0;
    width: 12%;
    > a {
      display: block;
      text-align: center;
    }
  }
  &:hover li a:not(:hover) {
    opacity: .3;
  }
}

.main .title {
  letter-spacing: .1em;
  &::after {
    content: " ";
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    display: block;
    height: 1px;
    width: 100%;
  }
}

.section-content {
  margin: 0 0 60px;
}

.profile-icon {
  text-align: center;
}

.skill {
  > li {
    color: #01acba;
    display: inline-block;
    margin-right: 5px;
  }
  .lv4 {
    font-size: 220%;
    font-weight: bold;
  }
  .lv3 {
    font-size: 180%;
    font-weight: bold;
  }
  .lv2 {
    font-size: 140%;
    font-weight: bold;
  }
  .lv1 {
    font-size: 110%;
    font-weight: bold;
  }
}

.products > li {
  padding: 10px;
}

.secret {
  background: url("../img/img_products_06.png") no-repeat center center;
}

.socket {
  background: url("../img/img_products_07.png") no-repeat center center;
}

.products > li > label {
  background-size: cover;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  display: inline-block;
  width: 100%;
  height: 188px;
  transition: all 0.1s linear;
  &:hover {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  }
}

.modal article {
  padding: 2%;
}

.modal .table_header {
  white-space: nowrap;
}

.modal td[colspan="2"] {
  padding: 1em 0;
  text-align: center;
}

.card, .modal .overlay ~ * {
  margin-bottom: 1em;
}

.card section, .modal .overlay ~ * section {
  padding: 1em 1.5em 0;
}

button, .button, [type=submit], .dropimage {
  margin: 1em;
}

.text-mail {
  margin: 30px 0;
  text-align: center;
}

.social {
  margin: 0 auto;
  max-width: 30%;
  > li {
    text-align: center;
    > a {
      font-size: 3.6rem;
      transition: color 0.1s linear;
      &:hover {
        color: #2f8efd;
      }
    }
  }
}

.footer {
  padding: 30px 0;
  text-align: center;
}

/*グローバルナビ*/

.is-fixed {
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 25px 0 20px;
  z-index: 2;
  width: 980px;
}

@media (max-width: 640px) {
  .pc-only {
    display: none;
  }
  .sp-only {
    display: block;
  }
  .wrapper {
    margin: 0 auto;
    width: 93%;
  }
  .hero {
    font-size: 3.2rem;
    text-align: left;
  }
  .nav {
    padding: 0;
    width: 100%;
    #nav-toggle {
      display: block;
      z-index: 1;
      position: fixed;
      top: 0;
      right: 0;
      padding: 18px;
      line-height: 2;
      font-size: 1.2rem;
      transition: color .3s linear;
      .bar {
        position: relative;
        width: 24px;
        height: 10px;
        margin: 0 auto 2px;
        span,
        span::before,
        span::after {
          content: "";
          display: block;
          position: absolute;
          right: 0;
          width: 24px;
          height: 2px;
          background: #000;
          transition-property: transform, opacity, background;
          transition-duration: .3s;
          transition-timing-function: linear;
        }
        span::before {
          top: -7px;
        }
        span::after {
          bottom: -7px;
        }
      }
      &.is-active {
        color: #fff;
      }
      &.is-active .bar span {
        background: transparent;
      }
      &.is-active .bar span::before {
        background: #fff;
        transform: rotate(45deg) translate(5px, 5px);
      }
      &.is-active .bar span::after {
        background: #fff;
        transform: rotate(-45deg) translate(5px, -5px);
      }
    }
  }
  .menu {
    flex-direction: column;
    margin: 0;
    width: 100%;
    padding: 20% 10%;
    position: fixed;
    top: 0;
    left: 100%;
    background: #000;
    height: 100vh;
    opacity: 0;
    transition: opacity .3s linear;
    &.is-active {
      display: flex;
      opacity: 1;
      left: 0;
    }
    li {
      margin: 0;
      width: 100%;
    }
    > li > a {
      text-align: left;
      color: #fff;
    }
  }
  .section-content {
    flex: none;
  }
  .profile-icon, .profile-content {
    padding: 0 0 .6em;
    width: 100%;
  }
  .products {
    flex-direction: column;
    li {
      margin: 0 auto;
      width: 80%;
    }
  }
  .is-fixed {
    width: 93%;
  }
}